$primary-background-color: #0b1416;
$secondary-background-color: #0f1113;
$tertiary-background-color: #3f4142;
$button-inactive-color: #1a282d;
$button-active-color: #223237;
$primary-text-color: #f2f4f5;
$post-stats-background-color: #343434;
$link-active-color: #cf5fff;
$link-inactive-color: #629fff;
$loading-primary-color: #969191;